footer {
    padding: 5rem 0;
    background-color: rgb(131, 165, 105);
    color: #fff;
  }
  
footer h3 {
  color: black;
}

footer li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: lighter;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
}

footer li:hover {
  color: var(--primary-color);
}
footer li a{
  text-decoration: none;
  color: white;
}
footer .main-hero-para {
  margin: 0;
}
.foot-items a{
    text-decoration: none;
}